.landing{
  height: 100vh;
  background-size: cover;
  background-image: url("../img/dee.png"); 
  position: relative;
  ul{
    position: absolute;
    top: 1em;
    right: 0;
    a{
      padding: 0;
      &:hover{
        color: purple;
      }
      li{
        padding: 1.5em;
        font-weight: bold;
      }
    }
  }
}
