<div class="off-canvas-menu hide-for-medium">
  <button type="button" class="menu-icon" data-toggle="offCanvas"></button>
  <a class="canvas-link" data-toggle="offCanvas">Dorren Orawo Portfolio</a>
  <div class="off-canvas position-right" id="offCanvas" data-off-canvas>

    <button class="close-button" aria-label="Close" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Doreen</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
  </div>
</div>

